version: '2'
services:
  mongo:
      image: mongo
      container_name: mongo
      ports:
            - "27017:27017"
      networks:
            - nodeapp-network
  microservice:
          build:
           context: .
           dockerfile: Dockerfile
          container_name: microservice_temp
          ports:
            - 1210:1210 
          depends_on:
            - mongo
          environment:
                    mongo: mongo
          networks:
                - nodeapp-network

networks:
  nodeapp-network:
    driver: bridge







